{% extends 'front/baseFront.html' %} {% load static %} {% block konten %}
<div class="all-title-box">
  <div class="container text-center">
    <h1>About Us<span class="m_1"> I will introduce myself</span></h1>
  </div>
</div>

<div id="overviews" class="section lb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <img
          src="{% static 'front/images/aulia.jpg '%}"
          class="w-25 rounded-circle"
          alt=""
        />
        <h3>About Me</h3>
        <p class="lead">
          Aulia Khofifah - 2011102441063
          <br>"Sedikit kemajuan setiap hari menambah hasil yang besar!"</br>
        </p>
      </div>
    </div>
    <!-- end title -->

    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<div class="hmv-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
          <h3>Mission</h3>
          <div class="tr-pa">M</div>
          <p>
            Memupuk rasa cinta tanah air memanglah tidak mudah, terutama di
            zaman sekarang yang banyak sekali para generasi penerus bangsa yang
            terlalu condong ke arah budaya luar, hingga muncullah stigma budaya
            dalam negeri adalah suatu hal yang ketinggalan zaman. Maka dibuatlah
            website ini untuk mengenalkan sedikit demi sedikit kepada anak muda
            tentang negara kepualuan indonesia
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
          <h3>Vision</h3>
          <div class="tr-pa">V</div>
          <p>
            Terkadang seseorang yang tinggal di suatu tempat tidak tahu menahu
            tentang tempat tinggalnya, bahkan sekalipun tempat tinggalnya adalah
            tempat kelahirannya. Jika tak kenal maka tak sayang, hal ini perlu
            di pupuk agar generasi bangsa memiliki rasa tanggung jawab untuk
            terus menjaga dan merawat daerahnya hingga generasi seterusnya dan
            hal ini harus ditanamkan sejak dini
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
          <h3>History</h3>
          <div class="tr-pa">H</div>
          <p>
            Indonesia adalah bangsa yang cukup sengsara pada masanya. Dijajah
            ratusan tahun, dimonopoli negara lain, direndahkan dan dijatuhkan
            berkali-kali. Berkali-kali berjuang mempertahankan kemerdekaan untuk
            memperjuangkan haknya, maka tidak lucu bila segala hal yang
            diperjuangkan menjadi sia-sia dan tidak diperdulikan generasi bangsa
            penerusnya dan hal ini perlu dihindari
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock konten %}
