{% extends 'front/baseFront.html' %} {% load static %} {% block konten %}
<div
  id="carouselExampleControls"
  class="carousel slide bs-slider box-slider"
  data-ride="carousel"
  data-pause="hover"
  data-interval="false"
>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleControls"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div
        id="home"
        class="first-section"
        style="
          background-image: url('../../static/front/images/indonesia/suku.jpeg');
        "
      >
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <div class="big-tagline">
                  <h2><strong>INDONESIA </strong>Rich Of Culture</h2>
                  <p class="lead">
                    Kayanya indonesia akan budaya yang beragam membuat Indonesia
                    menjadi negara yang disegani karena dapat menerima segala
                    keberagaman kecuali keberagaman yang menyimpang dari fitrah
                    kemanusiaan
                  </p>
                  <a href="#history" class="hover-btn-new"
                    ><span>Let's Go</span></a
                  >
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
      </div>
      <!-- end section -->
    </div>
    <div class="carousel-item">
      <div
        id="home"
        class="first-section"
        style="
          background-image: url('../../static/front/images/indonesia/borobudur.jpg');
        "
      >
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <div class="big-tagline">
                  <h2 data-animation="animated zoomInRight">
                    INDONESIA <strong>Love Diversity</strong>
                  </h2>
                  <p class="lead" data-animation="animated fadeInLeft">
                    Perbedaan ada bukan untuk dibenci, tapi untuk bisa saling
                    menghormati dan mencintai
                  </p>
                  <a href="#history" class="hover-btn-new"
                    ><span>Contact Us</span></a
                  >
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
      </div>
      <!-- end section -->
    </div>
    <div class="carousel-item">
      <div
        id="home"
        class="first-section"
        style="
          background-image: url('../../static/front/images/indonesia/ragam.jpg');
        "
      >
        <div class="dtab">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <div class="big-tagline">
                  <h2 data-animation="animated zoomInRight">
                    <strong>INDONESIA</strong> Best Of Country
                  </h2>
                  <p class="lead" data-animation="animated fadeInLeft">
                    Warga negara yang menyatakan negaranya adalah yang terbaik
                    bukanlah sebuah hal yang berdosa
                  </p>
                  <a href="#history" class="hover-btn-new"
                    ><span>Contact Us</span></a
                  >
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
      </div>
      <!-- end section -->
    </div>
    <!-- Left Control -->
    <a
      class="new-effect carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a
      class="new-effect carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<section class="section wb page-section">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <h3 id="history">Indonesian province facts</h3>
        <p class="lead">
          Kamu sudah tahu belum ibukota dari masing-masing provinsi indonesia?
          beserta dengan julukannya? cek aja di bawah!
        </p>
      </div>
    </div>
    <!-- end title -->
    <div class="timeline">
      <div class="timeline__wrap">
        <div class="timeline__items">
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Papua</h2>
              <p>
                Sebuah provinsi dengan ibukota Jayapura dan terkenal dengan
                obyek wisatanya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Papua Barat</h2>
              <p>
                Sebuah provinsi dengan ibukota Kota Manokwari dan Terkenal
                dengan pakaian khasnya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Maluku Utara</h2>
              <p>
                Sebuah provinsi dengan ibukota Ternate dan terkenal dengan
                cengkehnya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Maluku</h2>
              <p>
                Sebuah provinsi dengan ibukota Ambon dan mendapatkan julukan
                Kota Ambon Manise
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Gorontalo</h2>
              <p>
                Sebuah provinsi dengan ibukota Gorontalo dan terkenal akan obyek
                wisatanya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sulawesi Selatan</h2>
              <p>
                Sebuah provinsi dengan ibukota Makassar dan mendapatkan julukan
                Kota Daeng
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sulawesi Tenggara</h2>
              <p>
                Sebuah provinsi dengan ibukota Kendari dan terkenal dengan
                floranya Anggrek Serat
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sulawesi Tengah</h2>
              <p>
                Sebuah provinsi dengan ibukota Palu dan terkenal dengan tarian
                tradisionalnya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sulawesi Barat</h2>
              <p>
                Sebuah provinsi dengan ibukota Kota Mamuju dan terkenal dengan
                pemandian air panasnya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sulawesi Utara</h2>
              <p>
                Sebuah provinsi dengan ibukota Manado dan mendapatkan julukan
                Kota Tinutuan
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Kalimantan Utara</h2>
              <p>
                Sebuah provinsi dengan ibukota Tanjung Selor dan terkenal dengan
                obyek wisatanya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Kalimantan Timur</h2>
              <p>
                Sebuah provinsi dengan ibukota Samarinda dan mendapatkan julukan
                Kota Tepian
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Kalimantan Tengah</h2>
              <p>
                Sebuah provinsi dengan ibukota Palangkaraya dan terkenal dengan
                makanan khasnya gado-gado/p>
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Kalimantan Barat</h2>
              <p>
                Sebuah provinsi dengan ibukota Pontianak dan mendapatkan julukan
                Kota Khatulistiwa
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Nusa Tenggara Timur</h2>
              <p>
                Sebuah provinsi dengan ibukota Kupang dan terkenal dengan alat
                musiknya yang unik
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Nusa Tenggara Barat</h2>
              <p>
                Sebuah provinsi dengan ibukota Mataram dan terkenal sebagai
                daerah yang meninggalkan banyak sekali sejarah kerajaan
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Bali</h2>
              <p>
                Sebuah provinsi dengan ibukota Denpasar dan mendapatkan julukan
                Pulau Dewata
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Jawa Timur</h2>
              <p>
                Sebuah provinsi dengan ibukota Surabaya dan mendapatkan julukan
                Kota Pahlawan
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>DI Yokyakarta</h2>
              <p>
                Sebuah provinsi dengan ibukota Yogyakarta dan mendapatkan
                julukan Kota Gudeg
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Jawa Tengah</h2>
              <p>
                Sebuah provinsi dengan ibukota Semarang dan mendapatkan julukan
                Kota Kain Lumpia
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Banten</h2>
              <p>
                Sebuah provinsi dengan ibukota Serang dan mendapatkan julukan
                Kota Santri
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Jawa Barat</h2>
              <p>
                Sebuah provinsi dengan ibukota Bandung dan mendapatkan julukan
                Kota Kembang
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>DKI Jakarta</h2>
              <p>
                Sebuah provinsi dengan ibukota Jakarta dan mendapatkan julukan
                Kota Metropolitan
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Lampung</h2>
              <p>
                Sebuah provinsi dengan ibukota Bandar Lampung dan mendapatkan
                julukan Kota Kain Tapis
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Bengkulu</h2>
              <p>
                Sebuah provinsi dengan ibukota Bengkulu dan mendapatkan julukan
                The Land Of Raflesia
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Bangka Belitung</h2>
              <p>
                Sebuah provinsi dengan ibukota Palembang dan mendapatkan julukan
                Serumbun Sebalai
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sumatera Selatan</h2>
              <p>
                Sebuah provinsi dengan ibukota Palembang dan mendapatkan julukan
                Kota Pempek
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Jambi</h2>
              <p>
                Sebuah provinsi dengan ibukota Jambi dan terkenal akan obyek
                wisatanya
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Kepulauan Riau</h2>
              <p>
                Sebuah provinsi dengan ibukota Tanjung Pinang dan mendapatkan
                julukan Kota Gurindam
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Riau</h2>
              <p>
                Sebuah provinsi dengan ibukota Pekan Baru dan mendapatkan
                julukan Kota Bertuah
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sumatera Utara</h2>
              <p>
                Sebuah provinsi dengan ibukota Padang dan mendapatkan julukan
                Kota Tercinta
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Sumatera Utara</h2>
              <p>
                Sebuah provinsi dengan ibukota Medan dan mendapatkan julukan
                Kota Melayu Deli
              </p>
            </div>
          </div>
          <div class="timeline__item">
            <div class="timeline__content img-bg-04">
              <h2>Nanggroe Aceh Darussalam</h2>
              <p>
                Sebuah provinsi dengan ibukota Banda Aceh dan mendapatkan
                julukan Kota Serambi Mekkah
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="plan" class="section lb">
  <div class="section-title row text-center">
    <div class="col-md-8 offset-md-2">
      <h3>Let's Play Some Simple Quiz</h3>
      <p class="lead">
        Kalau kamu menang dapat Ice Cream loh.. tapi beli sendiri ya.. hehe..
      </p>
    </div>
  </div>
  <!-- end title -->
  <div id="container">
    <div id="start">Kuis dimulai!</div>
    <div id="quiz" style="display: none">
      <div id="question"></div>
      <div id="qImg"></div>
      <div id="choices">
        <div class="choice" id="A" onclick="checkAnswer('A')"></div>
        <div class="choice" id="B" onclick="checkAnswer('B')"></div>
        <div class="choice" id="C" onclick="checkAnswer('C')"></div>
      </div>
      <div id="timer">
        <div id="counter"></div>
        <div id="btimeGauge"></div>
        <div id="timeGauge"></div>
      </div>
      <div id="progress"></div>
    </div>
    <div id="scoreContainer" style="display: none"></div>
  </div>
</div>
<!-- end section -->

<div
  id="testimonials"
  class="parallax section db parallax-off"
  style="background-image: url('https://picsum.photos/2000/1500')"
>
  <div class="container">
    <div class="section-title text-center">
      <h3>Random Quotes Everyday</h3>
      <p>Terkadang orang bijak bisa membuka pikiranmu</p>
    </div>
    <!-- end title -->

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="">
          <div class="testimonial clearfix">
            <div class="testi-meta">
              <h4>{{author}}</h4>
            </div>
            <div class="desc">
              <h3>
                <i class="fa fa-quote-left"></i> {% for i in tags %} {{i}}
                <br />
                {% endfor %}
              </h3>
              <p class="lead">{{content}}</p>
            </div>
            <!-- end testi-meta -->
          </div>
          <!-- end testimonial -->
        </div>
        <!-- end carousel -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

{% endblock konten %}
