{% extends 'front/baseFront.html' %} {% load static %} {% block konten %}

<div class="all-title-box">
  <div class="container text-center">
    <h1>
      Presiden<span class="m_1">Presiden Indonesia dari berbagai periode</span>
    </h1>
  </div>
</div>

<div id="teachers" class="section wb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/soekarno.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>1950 - 1967</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Soekarno</h3>
            <span class="post">Presiden Pertama Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/soeharto.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>1968 - 1998</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Soeharto</h3>
            <span class="post">Presiden Kedua Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/Habibie.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>1998 - 1999</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">B. J. Habibie</h3>
            <span class="post">Presiden Ketiga Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/gusdur.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>1999 - 2001</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Abdurrahman Wahid/Gusdur</h3>
            <span class="post">Presiden Keempat Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/megawati.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>2001 - 2004</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Megawati</h3>
            <span class="post">Presiden Kelima Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/SBY.png'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>2004 - 2014</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Susilo Bambang Yudhoyono/SBY</h3>
            <span class="post">Presiden Keenam Indonesia</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="team-img">
            <img
              src="{% static 'front/images/presiden/jokowi.jpg'%}"
              style="height: 320px"
            />
            <div class="social">
              <ul>
                <h3><strong>Periode</strong></h3>
                <p><strong>2014 - sekarang</strong></p>
              </ul>
            </div>
          </div>
          <div class="team-content rounded" style="height: 120px">
            <h3 class="title">Jokowi</h3>
            <span class="post">Presiden Ketujuh Indonesia</span>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
{% endblock konten %}
